.popup-container {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .popup {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-top: 20px;
    min-height: 30vh;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    border-color: #FFC904;
    border-style: solid;
    border-width: 20px;
    border-radius: 10px;
    border-style: ridge;

    background-color: grey;
  }

  .popup-name {
    font-size: 40px;
    color: black;
    margin:5px;
    font-family: 'Lucida Sans Unicode';
    font-variant: small-caps;
    align-self: center;
  }

  .close-button {
    background-color:rgb(163, 163, 163);
    border-radius: 5px;
    border-width: 1px;
    font-family: 'Lucida Sans Unicode';
    font-variant: small-caps;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-color: black;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    align-self: flex-start;
  }