.page-title {
    font-size: 60PX;
    font-variant: small-caps;
    color: black;
    font-family: 'Lucida Sans Unicode';
    font-weight: lighter;
    text-align: center;
    width: 60vw;
}

.title-container {
    flex-direction: row;
    flex-basis: auto;
    width: 60vw;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
}

.logout-container {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    width: 20vw;
    justify-content: flex-end;
    align-items: center;
}

.logout-button {
    background-color:rgb(163, 163, 163);
    border-radius: 5px;
    border-width: 1px;
    font-family: 'Lucida Sans Unicode';
    font-variant: small-caps;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.logout-name {
    font-family: 'Lucida Sans Unicode';
    font-variant: small-caps;
    font-size: 20px;
    color: black;
}

.back-button-container {
    width: 20vw;
}

.login-button-container {
    width: 20vw;
}